body
  {
	background-color: grey;
  }
table
{
	background-color: rgb(255, 227, 227);
	margin-left:auto;
	margin-right:auto;
	width:1200;
	height:1500;
}
h1
{
	color:red;
	font-family:"Lobster";
}
  